<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">CSupoort</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
          {{#link-to 'index'}}
            Tickets
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'users'}}
            Users
          {{/link-to}}
        </li>
        <li><a href="#">Log Out</a></li> 
      </ul>
    </div>
  </nav>
  <div class="body">
    {{outlet}}
  </div>
</div>

